.cardImage {
    background: linear-gradient(rgba(0,0,0,0%) 70%, rgba(0,0,0,100%)), url("/Placeholder.png");
    background-size: cover;
    width:100%;
    height:50%;
    display: flex;
    position:relative;
    border-radius: 5px 5px 0 0;
}

.cardTitle {
    position: absolute;
    font-weight: bold;
    padding:8px 30px;
    bottom:0;
    left:10px;
    font-size:14pt;
    background-color:var(--primary-color);
}