.outerContainer {
    height:40vh;
    width: 500px;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
}

.innerContainer:hover .space {
    height:10%;
}

.innerContainer {
    --card-background-color: #101020;
    width: 100%;
    height: 100%;
}

.space {
    height:85%;
    width:100%;

}

.cardTitle {
    height:15%;
    /*
    background: linear-gradient(rgba(0,0,0,0%) 20%, var(--card-background-color));
     */

    font-weight: bold;
    font-size:14pt;
}

.cardTitle h3 {
    background-color:var(--card-background-color);
    border-radius: 8px 8px 0 0;
    box-shadow: black 0 -3px 5px;
    position: relative;

    z-index: 2;
    width:70%;
    height: 100%;
    margin-left:5%;
    padding:10px 15px;


}

.cardBody {
    height:75%;
    background-color:var(--card-background-color);
    box-shadow: black 0 -3px 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
}

.savoir {
    background-color:#262A6C;
    padding: 2px 8px;
    border-radius: 5px;
}