@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

.container {
    background:linear-gradient(
            #0C0537,
            #0C0537 70vh,
            #0C0537 120vh,
            #0C0537 200vh
    );
    position:absolute;
    height:300vh;
    width:100%;

    z-index:-2;
}

.boutonsMenu {
    margin-top:5vh;
}

.boutonsMenu a {
    color:white;
    text-decoration: none;
    font-size:26pt;
    font-family: 'Asimovian', "Roboto Light", sans-serif;
}

.boutonsMenu a img {
    display:inline;
    visibility: hidden;
    margin:8px;
}

.boutonsMenu a:hover {
    color: var(--accent-color)
}

.boutonsMenu a:hover img {
    visibility: visible;
}

.titre {
    padding-top:20%;
    padding-left:10%;
    color:white;
    z-index:2;
}

.titreAbsurde {
    font-weight: 900;
    color: var(--accent-color);
}

.titreNom {
    visibility: hidden;
    background: #4a4a4a;
    padding:10px;
    width:400px;
    border-radius:10px;
    border:1px solid white;
}

.description {
    width:60%;
    font-size:18pt;
    padding-left:5%;
}


.fullSection {
    height:100vh;
    width:100vh;
    z-index:2;
}

.startButton {
    position: absolute;
    bottom:0;
    right:50%;
    color:white;
}

.nebuleuse {
    position:fixed;
    z-index:-1;
}

.planet {
    position:absolute;
    top:60vh;
    right:10vh;
}

.endQuote {
    position: absolute;
    bottom: 10px;
    width:100%;

    text-align: center;
    color: #786d9f;
    font-style: italic;
    font-family: arial serif;
}