.container {
    background:linear-gradient(
            #000000,
            #010059 100vh,
            #440071 200vh
    );
    height:300vh;
    position:relative;
}


.titre {
    padding-top:40vh;
    color:white;
    z-index:2;
}

