html {
    height: 300%;
}

body {
    height:100%;
    background:linear-gradient(
            #262A6C,
            #5622AF
    );
}

.parallaxBackground {
    position:absolute;
    top:0;
    height:100%;
}

.titre {
    padding-top:40vh;
    color:white;
}