.container {
    background:linear-gradient(
            #000000,
            #000000 70vh,
            #010059 120vh,
            #440071 200vh
    );
    height:300vh;
    position:relative;
}


.titre {
    padding-top:40vh;
    color:white;
    z-index:2;
}

.planet {
    position:absolute;
    top:60vh;
    right:10vh;
}