@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import 'tailwindcss';

a {
    color:blue;
    text-decoration: underline;
}

body {
    height:100%;
    background:#262A6C;
    color:white;
}

h1 {
    font-size:52pt;
    font-family: 'Boldonse', cursive;
}