.star {
    position:absolute;
}

.parallaxBackground {
    position:absolute;
    top:0;
    height:100%;
}

@keyframes star {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}