.star {
    --rand: 0.5;
    position:absolute;
    animation: 10s infinite linear twinkle;
    box-shadow: white 0 0 10px;

}

.starImage {
    position:fixed;
    width: 100%;
    height: 100%;
    background:repeat;
}

.parallaxBackground {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
}

@keyframes twinkle {
    0% { box-shadow: white 0 0 10px;}
    100% { box-shadow: white 0 0 5px;}
}